mat-toolbar {
    background-color: rgb(50, 50, 50);
    
}

.title {
    font-size: 20pt; 
    margin-left: 0.5em;
}

.navLinks {
    font-size: 16pt;
}

ul {
    list-style: none;
    padding: 0em;
    margin: 2em;

    display: flex;
}

a {
    text-decoration: none;
    color: lightgrey;
}

li a {
    font-size: 14pt;
    margin: 0 0.5em;
}

.spacer {
    flex: 1 1 auto;
}